.content {
    &__header {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &__tittle {
        font-size: 3rem;
        margin-top: 2%;
        margin-bottom: 2%;
        color: white;
        margin-bottom: 70px;
        border: $yellowColor;
        padding: 20px;
        border-radius: 20px;
    }
    &__paragraph {
        font-size: 1.5rem;
        margin-bottom: 100px;
        color: white;
    }
}